# Titulo principal
## Titulo Secundario

-  Uno
-  Dos
-  Tres

Hola amigos

1. Lunes
2. Martes
3. Miercoles

Me gusta `Python` y **Typescript**. Codigo HTML:

```html
<h1>Otro ejemplo de codigo</h1>
```
Codigo Python:

```python
print("Hola mundo")
```

### Shift + Enter nueva celda

![Comida](https://sevilla.abc.es/gurme/wp-content/uploads/sites/24/2012/01/comida-rapida-casera.jpg)

[Google](https://www.google.com.ec)

In [3]:
print("Hola Mundo")
print('Hola Mundo')

Hola Mundo
Hola Mundo

In [7]:
edad = 31  # Numero Int
nombre = "Adrian"
hijos = None # null en otros lenguajes
costo = 1.25 # Float

In [6]:
nombre

'Adrian'

In [8]:
print(type(edad))
print(type(nombre))
print(type(hijos))
print(type(costo))

<class 'int'>
<class 'str'>
<class 'NoneType'>
<class 'float'>

In [12]:
docente = True
casado = False
print(type(docente))
"""
COMENTARIOS

sjsdklf sdfj sdfjlksd fjsdf
sd fklsdjf lksdj flksdj flksjd %%file
"""
nombre_dos = "hola"
nombre_dos

<class 'bool'>

'hola'

In [10]:
variable_poderosa = 1
variable_poderosa = 1.2
variable_poderosa = "0"
variable_poderosa = True
variable_poderosa = None
variable_poderosa = False

In [16]:
condicion = 10 < 2  # False
condicion = 2 <= 2  # True
"""
AND
condicion = 2 < 2 and 3 > 1  # True si todas cumplen
"""
# OR
condicion = (2 < 2) or (3 > 1) # Una cumple es True
condicion

True

In [ ]:
## TRUTY FALSY
condicion = ""  # Falsy
if(condicion):
    print("Si")
else:
    print("No")

In [ ]:
## TRUTY FALSY
condicion = "Adrian"  # Truty
if(condicion):
    print("Si")
else:
    print("No")

In [ ]:
## TRUTY FALSY
condicion = -1  # Truty
if(condicion):
    print("Si")
else:
    print("No")

In [ ]:
condicion = 1  # Truty
if(condicion):
    print("Si")
else:
    print("No")

In [ ]:
condicion = 0  # Falsy
if(condicion):
    print("Si")
else:
    print("No")

In [ ]:
condicion = None  # Falsy
if(condicion):
    print("Si")
else:
    print("No")

In [17]:
lista = [1, 2, 3, 4, 5]
print(type(lista))
print(lista)

<class 'list'>
[1, 2, 3, 4, 5]

In [18]:
tupla = (1, 2, 3, 4, 5)
print(type(tupla))
print(tupla)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [ ]:
condicion = []
## [] Falsy
## () Falsy
## [1] Truty
## (2) Truty
if(condicion):
    print("Si")
else:
    print("No")

In [19]:
# Lista editables
# Tuplas Read Only
lista.append(6)
lista.append(7)
lista.append(8)
lista

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
lista[0]

1

In [23]:
tupla[0]

1

In [24]:
len(lista)

8

In [25]:
len(tupla)

5

In [26]:
# Iteraciones
for numero in lista:
    print(f"Numero: {numero}")

Numero: 1
Numero: 2
Numero: 3
Numero: 4
Numero: 5
Numero: 6
Numero: 7
Numero: 8

In [27]:
for numero in tupla:
    print(f"Numero: {numero}")

Numero: 1
Numero: 2
Numero: 3
Numero: 4
Numero: 5

In [28]:
lista[3]

4

In [29]:
# Slices
lista[0:3]  # [0, 3[

[1, 2, 3]

In [31]:
lista[-2]  # Negativos desde el final hacia el principio

7

In [32]:
lista[-3:-1]

[6, 7]

In [33]:
lista[4:]  # Hasta el ultimo

[5, 6, 7, 8]

In [34]:
lista[:6]  # lista[:] desde el principio hasta el final

[1, 2, 3, 4, 5, 6]

In [35]:
lista[-4:7]

[5, 6, 7]

In [ ]:
# Diccionario (JSON)
diccionario = {
    "llave": "valor",
    "nombre": "Adrian",
    "apellido": "Eguez",
    "edad": 30,
    "casado": None,
    "casado": None
}